@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

/* SET UP 

* {
  box-sizing: border-box;
}

ul {
  padding-left: 1.5rem;
}

body {
  font-family: 'Poppins', sans-serif;
  color: #333;
  background-color: snow;
  margin: 0 auto;
  max-width: 1000px;
}

.item {
  padding: 8px;
  background-color: white;
  border: 1px solid blue;
  border-radius: 6px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
}

.height-50 {
  height: 50vh;
}

.alignleft {
  float: left;
}

.alignright {
  float: right;
}*/

/* Weather Container

.weather.container {
  display: grid;
  height: 100vh;
  gap: 4px;
  margin: 10px;
  grid-template-rows: auto auto 1fr auto auto;
  grid-template-areas:
    'header'
    'searchbar'
    'main'
    'sidebar'
    'footer';
}

.weather .header {
  grid-area: header;
}

.weather .searchbar {
  grid-area: searchbar;
}

.weather .sidebar {
  grid-area: sidebar;
}

.weather .main {
  grid-area: main;
}

.weather .footer {
  grid-area: footer;
  text-align: center;
}*/

/*Current weather Container
.current.container {
  display: grid;
  gap: 4px;
  margin: 10px;
  grid-template-rows: repeat(3, auto);
} */

/*Forcast Container 
.forecast.container {
  display: grid;
  gap: 4px;
  margin: 10px;
  grid-template-columns: auto auto;
  grid-template-areas: 'hourly daily';
}
*/
.forecast.hourly {
  grid-area: hourly;
}

.forecast.daily {
  grid-area: daily;
}

/* Hour Container */
.hour.container {
  display: grid;
  height: 8vh;
  gap: 4px;
  margin: 10px;
  grid-template-rows: repeat(7, auto);
  grid-template-areas:
    'hour1'
    'hour2'
    'hour3'
    'hour4'
    'hour5'
    'hour6'
    'hour7';
}

.hour.hour1 {
  grid-area: hour1;
}

.hour.hour2 {
  grid-area: hour2;
}
.hour.hour3 {
  grid-area: hour3;
}
.hour.hour4 {
  grid-area: hour4;
}
.hour.hour5 {
  grid-area: hour5;
}
.hour.hour6 {
  grid-area: hour6;
}
.hour.hour7 {
  grid-area: hour7;
}

/* Day Container */

.day.container {
  display: grid;
  height: 8vh;
  gap: 4px;
  margin: 10px;
  grid-template-rows: repeat(7, auto);
  grid-template-areas:
    'day1'
    'day2'
    'day3'
    'day4'
    'day5'
    'day6'
    'day7';
}

.day.day1 {
  grid-area: day1;
}

.day.day2 {
  grid-area: day2;
}
.day.day3 {
  grid-area: day3;
}
.day.day4 {
  grid-area: day4;
}
.day.day5 {
  grid-area: day5;
}
.day.day6 {
  grid-area: day6;
}
.day.day7 {
  grid-area: day7;
}

.temp {
  display: grid;
  text-align: center;
  grid-template-columns: auto auto;
}

.precipitation {
  text-align: center;
}

.wrapper {
  display: grid;
  grid-template-rows: 2;
}

/* Desktop breakpoint 
@media (min-width: 720px) {
  .weather.container {
    grid-template-areas:
      'header header header header'
      'sidebar searchbar searchbar searchbar'
      'sidebar main main main'
      'footer footer footer footer';

    grid-template-rows: auto auto 1fr auto;
  }

  .current.container {
    grid-template-rows: auto auto;
  }

  .forecast.container {
    grid-template-areas:
      'hourly'
      'daily';
    grid-template-rows: auto auto;
  }

  .wrapper {
    grid-template-columns: auto auto;
  }

  .precipitation {
    text-align: left;
  }

  .temp {
    text-align: left;
  }

  .day.container {
    grid-template-areas: 'day1 day2 day3 day4 day5 day6 day7';
    grid-template-rows: 1fr;
  }

  .hour.container {
    grid-template-areas: 'hour1 hour2 hour3 hour4 hour5 hour6 hour7';
    grid-template-rows: 1fr;
  }
}
*/

.light {
  background: white;
  color: #292929;
}

.dark {
  background: #292929;
  color: white;
}
