body {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

footer {
  position: fixed;
  bottom: 0;
  display: block;
  width: 100%;
}

.light {
  background: white;
  color: #292929;
}

.dark {
  background: #292929;
  color: white;
}
